.cardDiv{
	display: inline;
	width: 150px;
	height: 150px;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #C9C9C9;
	float: left;
}

.cardDiv span{
	line-height: 135px;
	display: block;
}

.pCardDiv{
	width: 600px;
}
